<p style="color: green"><%= notice %></p>

<% content_for :title, "Stores" %>

<h1>Stores</h1>

<% @stores.each do |store| %>
  <div style="margin-bottom: 20px;">
    <h3><%= store.Storename %></h3>

    <%= link_to "Show this store", store %><br>

    
  </div>
<% end %>


<%= link_to "New store", new_store_path %>


