<div id="<%= dom_id counter %>">

  <% is_no_cert = counter.no_cert? %>

  <div>
    <strong>User:</strong>

    <%= link_to counter.user_id,
                counter_path(counter),
                class: counter.needs_red? ? "text-danger" : "" %>

    <% if is_no_cert %>
      <span style="color: #888; font-size: 0.8rem;">(NO CERT)</span>
    <% end %>

  </div>

  <div>
    <strong>Counter cert training:</strong>
    <%= counter.counter_cert_training %>
  </div>

  <div>
    <strong>Store:</strong>
    <%= counter.store_id %>
  </div>

</div>