<div id="<%= dom_id counter %>">
  <div>
    <strong>User:</strong>
    <%= counter.user_id %>
  </div>

  <div>
    <strong>Counter cert training:</strong>
    <%= counter.counter_cert_training %>
  </div>

  <div>
    <strong>Store:</strong>
    <%= counter.store_id %>
  </div>

</div>
