<% content_for :title, "Editing counter" %>

<h1>Editing counter</h1>

<%= render "form", counter: @counter %>

<br>

<div>
  <%= link_to "Show this counter", @counter %> |
  <%= link_to "Back to counters", store_counters_path(@store) %>
</div>
