<p style="color: green"><%= notice %></p>

<% content_for :title, "Counters" %>

<h1>Counters</h1>

<div class="row">
 
  <% @store.counters.sort_by{ |x| x.user_id}.each do |counter| %>
     <div class="card col-2">
    <%= render counter %>
    <p>
      
    </p>
   </div>
  <% end %>
 
</div>

<%= link_to "New counter", new_store_counter_path %>
